[submodule "external/NuRaft"]
	path = external/NuRaft
	url = https://github.com/eBay/NuRaft.git
[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
